.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #070707;
}

.app__body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.app__chart {
  flex: 1;
  overflow: hidden;
}

.app__panel {
  width: 256px;
  flex-shrink: 0;
}
